.gallery-list {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.gallery-list-img {
  margin: 5px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
